"*":
  "advanced-new-file":
    showFilesInAutoComplete: true
    suggestCurrentFilePath: true
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
    fuzzyMatch: true
  "atom-beautify":
    css:
      beautify_on_save: true
      configPath: "~/.atom/package-settings/csscomb/.csscomb.json"
      convert_quotes: "single"
      default_beautifier: "CSScomb"
      end_with_newline: true
      indent_comments: false
      indent_size: 2
    erb:
      beautify_on_save: true
      indent_size: 2
    general:
      _analyticsUserId: "78949e9f-ff32-4826-bcae-0d607685ab70"
    html:
      default_beautifier: "Pretty Diff"
      end_with_newline: true
      indent_size: 2
      max_preserve_newlines: 3
      wrap_attributes_indent_size: 2
    js:
      end_with_newline: true
      indent_size: 2
    markdown:
      gfm: false
      yaml: false
    ruby:
      indent_size: 2
    scss:
      beautify_on_save: true
      configPath: "~/.atom/package-settings/csscomb/.csscomb.json"
      convert_quotes: "single"
      default_beautifier: "CSScomb"
      indent_size: 2
      no_lead_zero: true
    svg:
      beautify_on_save: true
      indent_size: 2
  autosave:
    enabled: true
  core:
    customFileTypes:
      "source.git-config": [
        "gitconfig.symlink"
        "gitconfig.local.symlink"
      ]
      "source.js": [
        "js.symlink"
      ]
      "source.shell": [
        "zshrc.symlink"
      ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".apm"
      ".node-gyp"
      "blob-store"
      "compile-cache"
      "storage"
      ".asset-cache"
      ".bundle"
      ".sass-cache"
      "coverage"
      "log"
      "tmp"
      "build"
      "pkg"
      ".zeus.sock"
      "_site"
      ".gitkeep"
      "dump.rdb"
      ".rake_tasks~"
      "*.o"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/ttimsmith/Projects"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "material-palenight-syntax"
    ]
  editor:
    fontFamily: "Operator Mono"
    fontSize: 17
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  emmet:
    extensionsPath: "~/.atom/package-settings/emmet"
  "exception-reporting":
    userId: "cdf71c46-82be-296b-31f2-ad61136bc9ad"
  "file-icons":
    forceShow: true
    onChanges: true
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui":
    layoutMode: "Compact"
    tabSizing: "Even"
  pigments: {}
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1492013582
  welcome:
    showOnStartup: false
