packages: [
  "advanced-open-file"
  "atom-beautify"
  "css-comb"
  "emmet"
  "file-icons"
  "language-babel"
  "language-gitignore"
  "language-haml"
  "language-liquid"
  "material-palenight-syntax"
  "merge-conflicts"
  "minimap"
  "package-sync"
  "pigments"
  "wakatime"
]
