packages: [
  "advanced-open-file"
  "atom-beautify"
  "base16-ocean-dark-spacegray"
  "base16-tomorrow-night-eighties-syntax"
  "cake-syntax"
  "css-comb"
  "emmet"
  "file-icons"
  "language-babel"
  "language-gitignore"
  "language-haml"
  "language-liquid"
  "merge-conflicts"
  "minimap"
  "package-sync"
  "pigments"
  "spacegray-dark-ui"
  "spacegray-eighties-ui"
  "wakatime"
]
